:root {
  --green: #7ec344;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'trebuchet ms', arial, sans-serif;
  font-size: .9em;
  background: url(background.webp) repeat;
  color: #4f4f4f;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--green);
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

a,
a:hover {
  outline: none;
  text-decoration: underline;
  color: #FD5BFF;
}

a:hover {
  text-decoration: none;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

blockquote {
  margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul {
  margin: 2px 0 22px 17px;
}

ul li {
  list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
}

ol {
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px 0;
}

#img-logo {
  float: left;
  margin-right: 10px;
}

#main,
#logo,
#menubar,
#site_content,
#footer {
  margin-left: auto;
  margin-right: auto;
}

#logo {
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  #logo {
    width: 825px;
  } 
}

#logo h1,
#logo h2 {
  font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1,
#logo_text h1 a,
#logo_text h1 a:hover {
  padding: 22px 0 0 0;
  color: #000;
  letter-spacing: 0.1em;
  text-decoration: none;
  line-height: .9;
}

#logo_text h1 a .logo_colour {
  color: var(--green);
}

#logo_text h2 {
  font-size: 100%;
  padding: 4px 0 0 0;
  color: #676767;
  text-align: center;
}

#menubar {
  padding: 0;
  background: transparent url(transparent.png) repeat;
}

@media (min-width: 800px) {
  #menubar {
    width: 900px;
  }
  #menu {
    display: flex;
  }  
}

#menu,
#menu li {
  margin: 0;
  padding: 0;
}

#menu li {
  list-style: none;
}

#menu li a {
  letter-spacing: 0.1em;
  display: block;
  padding: 22px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

#menu li a:hover,
#menu li.selected a,
#menu li.selected a:hover {
  background: var(--green);
}

#site_content {
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: transparent url(transparent_light.png) repeat;
}

@media (min-width: 800px) {
  #site_content {
    width: 837px;
  }  
}

#footer {
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center;
  background: transparent url(transparent.png) repeat;
  color: #FFF;
  letter-spacing: 0.1em;
}

@media (min-width: 800px) {
  #footer {
    width: 900px;
  }  
}

#footer a {
  color: #FFF;
  text-decoration: none;
}

#footer a:hover {
  color: #FFF;
  text-decoration: underline;
}

.search {
  color: #5D5D5D;
  border: 1px solid #BBB;
  width: 134px;
  padding: 4px;
  font: 100% arial, sans-serif;
}

#colours {
  height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;
}

.form_settings {
  margin: 15px 0 0 0;
}

.form_settings p {
  padding: 0 0 4px 0;
}

.form_settings span {
  float: left;
  width: 200px;
  text-align: left;
}

.form_settings input,
.form_settings textarea {
  padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;
}

.form_settings .submit {
  font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: var(--green);
  color: #FFF;
}

.form_settings textarea,
.form_settings select {
  font: 100% arial;
  width: 299px;
}

.form_settings select {
  width: 310px;
}

.form_settings .checkbox {
  margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;
}

.separator {
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}

table {
  margin: 10px 0 30px 0;
}

table tr th,
table tr td {
  background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}

table tr td {
  background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;
}